body {
    margin: 0;
    padding: 0;
}
    
.Main{
    font-family: Arial, sans-serif;
    

}
.resume-heder{
    font-size:25px;
    font-weight: bold;
    max-width: 36%;
    margin: auto;
    text-align: center;
}
h1{
    margin: 0;
    padding-top: 67px;
}
p,a{
    font-size: 15px;
    text-decoration: none;
    color: black;
    margin: 0;
    padding-top: 15px;
}
.underline{
    border-bottom: 2px solid black;
    width: 91%;
    margin: auto;
    margin-top: 20px;
    padding: 0;
}
.resume-body {
   max-width: 36%;
   padding-top: 10px;
   margin: auto;
   justify-content: center;
    
}
.resume-items {
    display: flex;
    padding: 10px 19px;
    
}
.item-heder {
    font-weight: bold;
    font-size: 19px;
    padding: 0 6px;
    min-width: 120px;
}
.item-discription{
    font-size: 15px;
    text-align: left;
    padding-left: 10px;
    width: 67%;
}
ul,li{
    padding: 0px;
    margin: 0 8px;
}
