.two {
  min-height: 90vh;
  scroll-margin-top: 12vh;
}

.ser-heading {
  font-size: 16px;
  width: 100%;
  margin-top: 110px;
  color: #9e3ffd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-heading {
  font-size: 36px;
  max-width: 480px;
  width: 100%;
  margin: auto;
  font-weight: 700;
  text-align: center;
}

.service-row {
  padding-top: 100px;
   gap: 0 !important;
}

.card-title {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.card-text {
  font-size: 18px;
  color: #16163f;
  line-height: 1.5;
}

.service-card {
  width: 100%;
  max-width: 20rem;
  border: none;
  transition: transform 0.2s ease;
}

.service-card:hover {
  transform: translateY(-5px);
}

