.scroll-animate {
  opacity: 0;
  --duration: 1s;
  will-change: transform, opacity;
}

.scroll-animate.show {
  animation: slidetop var(--duration) ease forwards;
}

@keyframes slidetop {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
