body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  padding-top: 10vh;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  background-image: url("image/84770f_994ffe746a074d1f8a2ec9456a8bf1ff~mv2.avif");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  z-index: -1;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 12vh;
  background-color: #fff;
  z-index: 1000;
}

.navbar-brand {
  font-size: 2rem;
}
.nav-link {
  color: black;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #9e3ffd;
}

.btn {
  background-color: #9e3ffd;
  border-radius: 2rem;
  color: white;
  transition: all 0.3s ease;
  padding: 10px 36px;
}
.btn:hover {
  background-color: #16163f;
  color: white;
}

.heading h1 {
  font-size: 90px;
  color: #16163f;
  width: 55%;
  padding-left: 30px;
  font-family: Madefor, "Helvetica Neue", Helvetica, Arial;
  margin: 0;
}
.paragraph p {
  font-size: 24px;
  width: 34%;
  padding-left: 32px;
  color: #16163f;
  margin: 0;
}
.button {
  padding-left: 33px;
  padding-top: 37px;
  transition: 0.2s;
}
.button button {
  background-color: #9e3ffd;
  color: white;
  border: none;
  border-radius: 2rem;
  padding: 10px 36px;
}
/* services */
.two {
  height: 90vh;
  scroll-margin-top: 12vh;
}
.ser-heading {
  font-size: 16px;
  width: 100%;
  margin-top: 110px;
  color: #9e3ffd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-heading {
  font-size: 36px;
  margin: auto;
  width: 480px;
  font-weight: bolder;
}
.card-title {
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
}
.service-row {
  padding-top: 100px;
}
.card-text {
  font-size: 18px;
  color: #16163f;
  line-height: 1.5em;
}
.service-card {
  width: 100%;
  max-width: 20rem;
  border: none;
  display: inline-block;
  transition: 0.2s;
}

/* section tree */
.tree {
  background-color: #16163f;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
}
.tree .container-fluid {
  max-width: 1200px;
  width: 100%;
  padding: 0 90px;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.th-heading h1 {
  font-size: 36px;
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
}
.number h1 {
  font-size: 80px;
  color: #fff;
  font-weight: 600;
  font-family: "Work Sans", sans-serif;
  margin: 0;
}
.text p {
  font-size: 18px;
  color: #fff;
  line-height: 1rem;
}
.dot {
  color: #fff;
  transition: 0.2s;
  opacity: 0;
}
.cutome-col {
  width: 200px;
}
.dot-col {
  width: 0px;
}
/* four */
.four .row {
  gap: 0;
  justify-content: flex-start;
   scroll-margin-top: 12vh;
}
.left-heading,
.left-subheading,
.text-secondary {
  padding-left: 160px;
  text-align: left;
}

.left-heading {
  width: 60px;
}

.left-subheading {
  width: 450px;
}

.text-secondary {
  width: 590px;
}

.four h1 {
  color: #9e3ffd;
  font-weight: bold;
  font-size: 16px;
}

.four h2 {
  color: #16163f;
  font-size: 36px;
}

.four p {
  color: #555;
  font-size: 18px;
  line-height: 1.7;
}

/* image */
.right-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.img-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* five */
.five{
   scroll-margin-top: 12vh;
}
.slide {
  width: 100%;
  height: 70vh;
  background-color: #9e3ffd;
}
.carousel-indicators [data-bs-target] {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #bb79fe;
}
.carousel-indicators .active {
  background-color: #fff;
}

.testimonial-slide {
  padding: 20px;
}
.testimonial-title {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #fff;
  padding-top: 60px;
}
.testimonial-text {
  font-size: 52px;
  width: 50%;
  color: #fff;
  padding-top: 40px;
}

.testimonial-author {
  padding-top: 80px;
}
.testimonial-author h5 {
  font-size: 18px;
  margin-bottom: 0;
  font-weight: 600;
  color: #fff;
  transition: all 0.5s ease;
}
.testimonial-author p {
  font-size: 18px;
  margin: 0;
  color: #fff;
}
.carousel-item {
  transition: opacity 0.6s ease-in-out;
}

/* six */
#client{
   scroll-margin-top: 12vh;
}
.client-heading {
  background-color: #f8f0ff;
  width: 100%;
  height: 11vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.client-heading h1 {
  font-size: 16px;
  color: #16163f;
}
.client-row {
  margin-top: 3px;
  background-color: #f8f0ff;
  width: 100%;
  height: 17vh;
  justify-content: space-evenly;
}
/* seven */
.contact-section {
  min-height: 90vh;
   scroll-margin-top: 12vh;
}
.row-custom {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 10;
  margin-top: 2rem;
  padding-top: 3rem;
}

.contact {
  padding-left: 166px;
}
.contact h6 {
  font-size: 16px;
  color: #bb79fe;
}
.contact h2 {
  font-size: 36px;
}
.contact p {
  font-size: 18px;
}
.icon i {
  font-size: 20px;
  margin-right: 20px;
}
/* from */

.clean-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #777;
  background: transparent;
  padding: 8px 0;
  font-size: 16px;
}
.clean-input:focus {
  outline: none;
  border-bottom: 2px solid #9e3ffd;
}

.form-label-custom {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 6px;
  color: #000;
  display: block;
}

.submit-btn {
  background-color: #9e3ffd;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 30px;
  font-size: 16px;
  transition: 0.3s;
}
.submit-btn:hover {
  background-color: #16163f;
}
.footer-content {
  width: 100%;
  height: 11vh;
}
.map-section iframe {
  width: 100%;
  height: 350px;
  border: none;
  filter: grayscale(100%);
}

@media (max-width: 992px) {
  .heading h1 {
    font-size: 60px;
    width: 80%;
    padding-left: 15px;
  }

  .paragraph p {
    font-size: 20px;
    width: 80%;
    padding-left: 15px;
  }

  .button {
    padding-left: 15px;
    padding-top: 25px;
  }

  .hero::before {
    background-size: cover;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .heading h1 {
    font-size: 42px;
    width: 100%;
    text-align: center;
    padding: 0;
  }

  .paragraph p {
    font-size: 18px;
    width: 100%;
    text-align: center;
    padding: 0;
  }

  .button {
    text-align: center;
    padding: 20px 0;
  }

  .hero::before {
    background-size: cover;
    height: 100%;
    background-position: center top;
  }
}
.scroll-animate {
  opacity: 0;
  transform: translateY(100px);
  --duration: 1s;
}

.scroll-animate.show {
  animation: slidetop var(--duration) ease forwards;
}

@keyframes slidetop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
