body{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}
.calculater{
    width: 330px;
    height: 400px;
    background-color: gray;
    margin: auto;
    border-radius:1rem ;

}
#screen{
    background-color: rgba(135, 207, 235, 0.558);
    width: 300px;
    height: 60px;
    margin: 10px;
    margin-top: 50px;
    font-size: 2rem;
    text-align: right;
    border-radius: 1rem;
}
.button{
    width: 65px;
    height: 45px;
    margin: 6px;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.47);
    color: white;
    font-size: 1.5rem ;
}
.clear{
    background-color: rgba(255, 0, 0, 0.823);
}
.operator{
    background-color: rgba(255, 68, 0, 0.885);
}
.button:hover{
    border: 2px solid white;
}