.four .row {
  gap: 0;
  justify-content: flex-start;
   scroll-margin-top: 15vh;
}
.left-heading,
.left-subheading,
.text-secondary {
  padding-left: 160px;
  text-align: left;
}

.left-heading {
  width: 60px;
}

.left-subheading {
  width: 450px;
}

.text-secondary {
  width: 590px;
}

.four h1 {
  color: #9e3ffd;
  font-weight: bold;
  font-size: 16px;
}

.four h2 {
  color: #16163f;
  font-size: 36px;
}

.four p {
  color: #555;
  font-size: 18px;
  line-height: 1.7;
}

/* image */
.right-image {
  width: 100%;
  min-height: 100vh;

  background-image: url("/c837a6_38f0ee339302476e9f04ad2cab58a10e~mv2.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
}

@media (min-width: 992px) {
  .right-image {
    background-attachment: fixed;
  }
}

.img-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}