.them {
  min-height: 100vh;
  width: 100%;
}

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  padding: 15px 40px;
  background-color: gray;
  color: white;
}

.navbar-links {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 25px;
}

.navbar-buttons {
  margin-left: auto;
  display: flex;
  gap: 15px;
}

.light {
  background-color: #eee;
  color: #000;
}

.dark {
  background-color: #222;
  color: #fff;
}


.home {
  min-height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login div {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 250px;
}

.login input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.login button {
  width: 100%;
  padding: 8px;
  cursor: pointer;
}

.products {
  min-height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.profile {
  min-height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}